<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4"><strong>Contact Us</strong></h2>
  <p>Here You can email your suggestions to improve my code :P</p>
</div>